div.welcome-page {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: 1s;
}
.welcome-items {
  font-size: 80px;
  font-family: "Yellowtail", cursive;
  color: white;
  animation-name: angry-animation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  transition: 1s;
}
@keyframes angry-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#openingBtn {
  display: block;
  position: absolute;
  bottom: 20%;
  background-color: #27ae60;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}

#openingBtn:hover {
  color: #27ae60;
  background: white;
  color: #27ae60;
  transition: 0.8s;
}
