/*---------------------------------Welcome page-------------------------------------*/
#imageWP {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/05/21/34/chef-2585791_1280.jpg);
  -webkit-animation: kenburns-top 30s ease-in alternate-reverse backwards;
  animation: kenburns-top 30s ease-in alternate-reverse backwards;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div.welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: 1s;
}

#openingPage {
  transition: 1s ease;
}

/**
 * ----------------------------------------
 * Welcome Page Backround animation
 * ----------------------------------------
 */

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1) translateX(-15px);
    transform: scale(1) translateX(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(-15px);
    transform: scale(1.25) translateX(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.welcome-items {
  font-size: 80px;
  font-family: "Yellowtail", cursive;
  color: white;
  mix-blend-mode: difference;
  animation-name: angry-animation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  transition: 1s;
  animation-fill-mode: forwards;
}
@keyframes angry-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#openingBtn {
  display: block;
  position: absolute;
  bottom: 10%;
  background-color: #27ae60;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}

#openingBtn:hover {
  color: #27ae60;
  background: white;
  color: #27ae60;
  transition: 0.8s;
}

/* .fadeOut {
  opacity: 0;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
} */
/*----------------------------------------------Welcome Page-------------------------------------------------------*/
/*--------------------------------- Search page -----------------------------------*/
/* Graysons change*/
/*--------------------------------- Search page -----------------------------------*/

/*--------------------------------- Search page -----------------------------------*/
div.search-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: 1s;
  z-index: 150%;
}
.search-page {
  font-size: 80px;
  font-family: "Yellowtail", cursive;
  color: white;
  animation-name: angry-animation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  transition: 1s;
  animation-fill-mode: forwards;
}
#searchBtn {
  display: block;
  position: absolute;
  bottom: 10%;
  background-color: #27ae60;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}
#searchBtn:hover {
  color: #27ae60;
  background: white;
  color: #27ae60;
  transition: 0.8s;
}
/*--------------------------------- Search page -----------------------------------*/
/*--------------------------------- How-To Video ----------------------------------*/
#howToContainer {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: inline-block;
}
/*--------------------------------- How-To Video ----------------------------------*/
/*--------------------------------- Recipe List  ----------------------------------*/

#recipeList {
  display: none;
  width:200px; 
}
/*--------------------------------- Recipe List  ----------------------------------*/


/* <!------------------------------------ Restaurant Info -----------------------------------> */


/* <!------------------------------------ Restaurant Info -----------------------------------> */
