/*---------------------------------Welcome page-------------------------------------*/
#imageWP {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/05/21/34/chef-2585791_1280.jpg);
  -webkit-animation: kenburns-top 50s ease-in alternate-reverse backwards;
  animation: kenburns-top 50s ease-in alternate-reverse backwards;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div.welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 1s;
}

#openingPage {
  transition: 1s ease;
}

/**
 * ----------------------------------------
 * Welcome Page Backround animation
 * ----------------------------------------
 */

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1) translateX(-15px);
    transform: scale(1) translateX(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateX(0);
    transform: scale(1) translateX(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateX(-15px);
    transform: scale(1.25) translateX(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.welcome-items {
  font-size: 80px;
  font-family: "Yellowtail", cursive;
  color: white;
  mix-blend-mode: difference;
  animation-name: angry-animation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  transition: 1s;
  animation-fill-mode: forwards;
}
@keyframes angry-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#openingBtn {
  display: block;
  position: absolute;
  bottom: 10%;
  background-color: #27ae60;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  color: white;
}

#openingBtn:hover {
  color: #27ae60;
  background: white;
  color: #27ae60;
  transition: 0.8s;
}

/* .fadeOut {
  opacity: 0;
  pointer-events: none;
}*/

.fadeIn {
  opacity: 1;
  animation-name: angry-animation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  transition: 1s;
  animation-fill-mode: forwards;
}
/*----------------------------------------------Welcome Page-------------------------------------------------------*/
/*--------------------------------------------Loading Animation-------------------------------------------------*/
.lds-hourglass {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 5;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/*--------------------------------------------Loading Animation-------------------------------------------------*/
/*--------------------------------- Search page -----------------------------------*/
div.search-page {
  background-image: url(https://images.pexels.com/photos/1030865/pexels-photo-1030865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#dropDown {
  color: white;
}

.dropdown-menu {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
}

/* .search-items {
} */

input[type="text"],
textarea {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
}

input[type="text"]:focus,
textarea:focus {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
}

::placeholder {
  mix-blend-mode: difference;
}

.form-control:focus {
  border-color: #27ae60;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #27ae60;
}

.opacity {
  opacity: 0;
}

#dietBtn {
  color: white;
  background: #27ae60;
}

#dietBtn:hover {
  color: #27ae60;
  background: white;
  transition: 0.8s;
}

#searchBtn {
  background: #27ae60;
  margin-top: 20px;
}

#searchBtn:hover {
  color: #27ae60;
  background: white;
  transition: 0.8s;
}
/*--------------------------------- Search page -----------------------------------*/
/*--------------------------------- How-To Video ----------------------------------*/
#howToContainer {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: inline-block;
}
/*--------------------------------- How-To Video ----------------------------------*/
/*--------------------------------- Recipe List  ----------------------------------*/

/* Commented it out to test if I can see the recipe results - Hibah */
/* #recipeList {
  display: none;
  width: 200px;
} */

#recipeLink {
  font-size: 21px;
}

#dropdown {
  width: 10%;
}
/*--------------------------------- Recipe List  ----------------------------------*/

/*--------------------------------- Recipe List  ----------------------------------*/

/* <!------------------------------------ Restaurant Info -----------------------------------> */

/* <!------------------------------------ Restaurant Info -----------------------------------> */
